<a href="https://colab.research.google.com/github/himanshu683663/Beta-Halo-Experimental--Google-Colab-/blob/main/1_2Workbook_Strings_and_Rules_of_signange_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q8. Write the output of the following code:                
str1 = "Welcome to my blog"                   
str2 = "Welcome to my \n Blog"
print(str1)
print(str2)

In [ ]:
str1 ="Welcome to my blog"
str2 ="Welcome to my \n Blog "

In [ ]:
print(str1)
print(str2)

Welcome to my blog
Welcome to my
 Blog

Q9. Write the output of the following.                
str1 = "Welcome \tto my Blog"

str2 = "Welcome to\n my \tBlog

print(str1)                
print(str2)

In [ ]:
str1 ="Welcome \tto my blog"
str2 ="Welcome to \n my \t blog "

In [ ]:
print(str1)

Welcome to
 my 	 blog

In [ ]:
print(str2)

Welcome to
 my 	 blog

Q10. Write the output of the following.               

str1 = “”” Welcome to my 
                blog.
                This is for
                Class X”””
                print(str1)

In [ ]:
str1= """Welcome to my blog. This is  for class X """
print(str1)

Welcome to my blog. This is  for class X

1. Write the output of following code-

 a)                  str="hello"
                      print(str[:3])

In [ ]:
str= "hello"

In [ ]:
print(str[::3])

hl

b)                 str=’My Blog’

                    a=’ ‘

                    for i in range(len(str)):
                        a+=str[i]
                      
                     print(a)

In [ ]:
str="My Blog"
a=" "

for i in range (len(str)): 
  a=a+str[i]
  print(a)

 M
 My
 My
 My B
 My Bl
 My Blo
 My Blog

j)     s='Welcome to My Site https://csiplearninghub.com '               
       
       print(s.find('come'))               
       
       print(s.find('o'))
       
       print(s.find('o', 10, 20))
      
       print(s.find('o', 5, 10))

In [ ]:
nu ="welcome to my site https:// csiplearninghub.com"
print(nu.find('come'))

3

In [ ]:
print(nu.find('o'))

4

In [ ]:
print(nu.find('o',10,20))

-1

In [ ]:
print(nu.find('o',5,10))

9


Q8. What type of error is returned by following statement, if the length of string 'str1' is 10.

                        print(str1[13])

In [ ]:
str1='s','e','q','f','w','j','o'
print(str1)
len(str1)
print(str[13])

('s', 'e', 'q', 'f', 'w', 'j', 'o')

IndexError: ignored

Q9. Write the output of the following:
str1 = "Welcome to my Blog"


a. print(str1[-1])

b. print(str1[9])

In [ ]:
str1 ="Welcome to my blog"

In [ ]:
print(str1[-1])

g

In [ ]:
print(str1[9])

o

Boolean
Q2. Write the output of the following:

>>>'tie' == 'ties'

>>>"Amit" != "Amitabh"

>>>"amit" > "Amitabh"

Show Answer

In [ ]:
'tie'=='ties'

False

In [ ]:
'Amit'!='Amitabh'

True

Q6. Write the output of the following.

S = "Welcome to my Blog"

print(S[2 : 3])

print(S[2 : 10])

print(S[-2 : ])

print(S[-10 : -2 : 2])

In [ ]:
s="Welcome to my Blog"

In [ ]:
print(s[2:3])

l

In [ ]:
print(s[2:10])

lcome to

In [ ]:
print(s[-2:])

og

In [ ]:
print(s[-10:-2:2])

t yB

Q3. Write the output of the following

str1 = "Amit"

str2 = "My Blog"

str3 = "#blog"

str4 = "My 1st Blog"

print(str1.isalpha())

print(str2.isalpha())

print(str3.isalpha())

print(str4.isalpha())

Specify the reason if any of the above print statement return False.

In [ ]:
str1 ="Amit"
str2 ="My Blog"
str3="#blog"
str4="My 1st Blog"

Q6. Write the output of the following:

>>>a = 123

>>>b = "123"

>>>b.isdigit()

>>>a.isdigit()

In [ ]:
b="123"
b.isdigit()

True

In [ ]:
a=123
a.isdigit()

AttributeError: ignored

**isalpha** Method

The python is alpha() method returns the boolean value True if every character in a string is a letter ; otherwise ,it returns the Boolean value false .In python , a space is not an alphabetical characeter , so if a string contain a space the method will return False .


Q3. Write the output of the following

str1 = "Amit"

str2 = "My Blog"

str3 = "#blog"

str4 = "My 1st Blog"

print(str1.isalpha())

print(str2.isalpha())

print(str3.isalpha())

print(str4.isalpha())

In [ ]:
str1 ="Amit"
str2 ="My Blog"
str3="#blog"
str4="My 1st Blog"

In [ ]:
print(str1.isalpha())

True

In [ ]:
print(str2.isalpha())

False

In [ ]:
print(str3.isalpha())

False

In [ ]:
print(str4.isalpha())

False

Q10. Write the output of the following:

>>>s = "My blog"

>>>s.upper()

>>>s.lower()

>>>s.islower()

>>>s.isupper()

>>>s.isalpha()

>>>s.isdigit()

In [ ]:
s="My blog"

In [ ]:
print(s.isupper())

False

# **Split Function**
Split function basically divides a string into a list . as we will see in example .

here split(seperator,maxsplit) is classified

In [ ]:
str1= "Welcome to my vlog"

In [ ]:
print(str1.split())

['Welcome', 'to', 'my', 'vlog']


Q6. Write the output of the following:
a = "Mummy?Papa?Brother?Sister?Uncle" 

print(a.split())

print(a.split('?')

print(a.split('?',1)

print(a.split('?',3)

print(a.split('?',10)

print(a.split('?',-1)

In [ ]:
a="Mummy?Papa?Brother?Sister?Uncle"

In [ ]:
print(a.split())
print(a.split('?'))

['Mummy', 'Papa', 'Brother', 'Sister', 'Uncle']

In [ ]:
print(a.split('?',2))

['Mummy', 'Papa', 'Brother?Sister?Uncle']