<a href="https://colab.research.google.com/github/himanshu683663/EDA-1-/blob/main/1_6_Copy_of_Loops_and_iteration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Hi this is himanshu singh

## Loops are important in Python or in any other programming language as they help you to execute a block of code repeatedly. You will often come face to face with situations where you would need to use a piece of code over and over but you don't want to write the same line of code multiple times.

### In Python we have mainly two different types of loops :


* <u>for loop</u> : In the context of most data science work, Python for loops are used to loop through an iterable object (like a list, tuple, set, etc.) and perform the same action for each entry. For example, a for loop would allow us to iterate through a list, performing the same action on each item in the list.


* <u>while loop</u> : The while loop is somewhat similar to an if statement, it executes the code inside, if the condition is True. However, as opposed to the if statement, the while loop continues to execute the code repeatedly as long as the condition is True.

# for loops

A <code>for</code> loop acts as an iterator in Python; it goes through items that are in a *sequence* or any other iterable item. Iterable is an object, which one can iterate over. Objects that we've learned about that we can iterate over include strings, lists, tuples, and even built-in iterables for dictionaries, such as keys or values.

Here's the general format for a <code>for</code> loop in Python:

    for item in object:
        statements to do stuff

The variable name used for the item is completely up to the coder, so use your best judgment for choosing a name that makes sense and you will be able to understand when revisiting your code. This item name can then be referenced inside your loop, for example if you wanted to use <code>if</code> statements to perform checks.

Let's go ahead and work through several example of <code>for</code> loops using a variety of data object types. We'll start simple and build more complexity later on.

### <u> Example 1</u>


#### Let us print each element of our list of strings using a for loop statement

In [ ]:
# Consider the list of strings 
got_houses =['Stark','Arryn','Baratheon','Tully','Greyjoy','Lannister','Tyrell','Martell','Targaryen']
print (got_houses[0:2])

['Stark', 'Arryn']

In [ ]:
for house in got_houses : 
  print(f'house {house}')

house Stark
house Arryn
house Baratheon
house Tully
house Greyjoy
house Lannister
house Tyrell
house Martell
house Targaryen

In [ ]:
# what if we want to print them in reverse order 
for house in got_houses [::-1]  :
  print(f"house {house}")

house Targaryen
house Martell
house Tyrell
house Lannister
house Greyjoy
house Tully
house Baratheon
house Arryn
house Stark

In [ ]:
# what if we want to print first 4 element of list
for house in got_houses  [0:4:1] :
  print(f'house in {house}')

house in Stark
house in Arryn
house in Baratheon
house in Tully

### Another interesting way to loop through the elements of a list is to use the <code>enumerate()</code> function. Using enumerate requires us two iterators index and element

In [ ]:
# print the function and elements associated within that .
got_houses

['Stark',
 'Arryn',
 'Baratheon',
 'Tully',
 'Greyjoy',
 'Lannister',
 'Tyrell',
 'Martell',
 'Targaryen']

In [ ]:
# using enumerate function to loop through the element of list 
for numbers , house in enumerate(got_houses) :
  print (f"{numbers},house {house}")

0,house Stark
1,house Arryn
2,house Baratheon
3,house Tully
4,house Greyjoy
5,house Lannister
6,house Tyrell
7,house Martell
8,house Targaryen

In [ ]:
# using enumerate function with just the function in loop 
for numbers , houses in enumerate(got_houses) : 
  print(f'{numbers}  {houses}')

0  Stark
1  Arryn
2  Baratheon
3  Tully
4  Greyjoy
5  Lannister
6  Tyrell
7  Martell
8  Targaryen

In [ ]:
# using enumerate function with just the function in loop 
for  numbers , house  in enumerate(got_houses) :
  print( f"The house no of house {house} is {numbers+1}")

The house no of house Stark is 1
The house no of house Arryn is 2
The house no of house Baratheon is 3
The house no of house Tully is 4
The house no of house Greyjoy is 5
The house no of house Lannister is 6
The house no of house Tyrell is 7
The house no of house Martell is 8
The house no of house Targaryen is 9

In [ ]:
x= 1,2
print(x)
type(x)

(1, 2)

tuple

In [ ]:
enumerate(got_houses)

In [ ]:
list(enumerate(got_houses))

[(0, 'Stark'),
 (1, 'Arryn'),
 (2, 'Baratheon'),
 (3, 'Tully'),
 (4, 'Greyjoy'),
 (5, 'Lannister'),
 (6, 'Tyrell'),
 (7, 'Martell'),
 (8, 'Targaryen')]

### <u>Example 2</u>

#### Suppose you are given a list of numbers. You need to find the corresponding squares of these numbers and zip them together in a dictionary

In [ ]:
# The list of numbers 
list_of_numbers =[1,2,4,6,11,14,17,20]

In [ ]:
# Let us first print the squares 
for numbers in list_of_numbers :
  square_numbers =numbers**2
  print(f'The square of {numbers} is {square_numbers}')

The square of 1 is 1
The square of 2 is 4
The square of 4 is 16
The square of 6 is 36
The square of 11 is 121
The square of 14 is 196
The square of 17 is 289
The square of 20 is 400

So this was a pretty straight forward way to print out these squares.
Example 3
Imagine a scenario where we not only needed to print these numbers for each iteration but also we need to store these elements somewhere else

In [ ]:
print(list_of_numbers)

[1, 2, 4, 6, 11, 14, 17, 20]

So there is 3 different cases pl check this out and understand the difference in terms of square_number is in loop  or not in loop .

In [ ]:
# Let us first initialize a list where will be appending the squares in each iteration .
square_numbers = []
for  numbers in list_of_numbers :
  square =numbers**2  
 # Use the append method to add the no one by one by our list .
  square_numbers.append(square)
  print(square_numbers)

[1]
[1, 4]
[1, 4, 16]
[1, 4, 16, 36]
[1, 4, 16, 36, 121]
[1, 4, 16, 36, 121, 196]
[1, 4, 16, 36, 121, 196, 289]
[1, 4, 16, 36, 121, 196, 289, 400]

**# Pl check out the differences  in between ther due to indentation difference it happens because in 2nd one it start from the start and in first one print function happpen in for loop () .**

In [ ]:
# for zipping purpose we use  these square_numbers
# Let us first initialize a list where will be appending the squares in each iteration .
square_numbers = []
for  numbers in list_of_numbers :
  square =numbers**2  
 # Use the append method to add the no one by one by our list .
  square_numbers.append(square)
print(square_numbers)

[1, 4, 16, 36, 121, 196, 289, 400]

In [ ]:
# Let us zip the original number and square together and get the dictionary 

square_dict = dict(zip(list_of_numbers,square_numbers))
print(square_dict)

{1: 1, 2: 4, 4: 16, 6: 36, 11: 121, 14: 196, 17: 289, 20: 400}

& In Third case where  square_number  =[ ]  falls in for loop and resultant is 400 .

In [ ]:
for  numbers in list_of_numbers :
  square_numbers =[]
  square =numbers**2  
 # Use the append method to add the no one by one by our list .
  square_numbers.append(square)
print(square_numbers)

[400]

 ### <u> Example 4</u> (i)
####  Now suppose we only want to print the squares of those numbers which are even. Let us see how we can do this .

In [ ]:
print(list_of_numbers)

[1, 2, 4, 6, 11, 14, 17, 20]

In [ ]:
# Here we will use if - else condition along with for loop  .
for numbers in list_of_numbers :
  if numbers % 2 == 0 :
    square_numbers = numbers**2
    print(f'The square number of {numbers} is {square_numbers}')
  else:
     print(f' I am an odd number {numbers}. My master prohibits me from printing these odd number strange but okay')

 I am an odd number 1. My master prohibits me from printing these odd number strange but okay
The square number of 2 is 4
The square number of 4 is 16
The square number of 6 is 36
 I am an odd number 11. My master prohibits me from printing these odd number strange but okay
The square number of 14 is 196
 I am an odd number 17. My master prohibits me from printing these odd number strange but okay
The square number of 20 is 400

Example 4 (ii)
Now suppose we only want to print the squares of those numbers which are odd . Let us see how we can do this .

In [ ]:
# Here we will use if - else condition along with for loop  .
for numbers in list_of_numbers :
  if numbers % 2 != 0 :
    square_numbers = numbers**2
    print(f'The square number of {numbers} is {square_numbers}')
  else:
     print(f' I am an odd number {numbers}. My master prohibits me from printing these odd number strange but okay')

The square number of 1 is 1
 I am an odd number 2. My master prohibits me from printing these odd number strange but okay
 I am an odd number 4. My master prohibits me from printing these odd number strange but okay
 I am an odd number 6. My master prohibits me from printing these odd number strange but okay
The square number of 11 is 121
 I am an odd number 14. My master prohibits me from printing these odd number strange but okay
The square number of 17 is 289
 I am an odd number 20. My master prohibits me from printing these odd number strange but okay

### <code>range()</code> function is a pretty useful function to get a sequence of numbers. It takes three arguments : start, stop, step

In [ ]:
# Obviously integer is not iterable so that's why it is it will give list of string .
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [ ]:
print(range(1,10,1))

range(1, 10)

In [ ]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
type(range(1,10,1))

range

In [ ]:
# Let us print the square of  natural no 
for number in range(0,10,2):
  square_no =number**2
  print(f'The square of {number} is {square_no}')

The square of 0 is 0
The square of 2 is 4
The square of 4 is 16
The square of 6 is 36
The square of 8 is 64

####<u> Write the code to print first 10 even natural no ?

In [ ]:
# Let us print first 10 even natural no  you can check whether this no is natural no 
for  number in range(0,21,2) :
  print(number)

0
2
4
6
8
10
12
14
16
18
20

#### <u> Write the code to print  square of first 10 even number .

In [ ]:
for number in range(0,21,2) :
  square_number =number **2
  print(f'The square of this {number} is {square_number}')

The square of this 0 is 0
The square of this 2 is 4
The square of this 4 is 16
The square of this 6 is 36
The square of this 8 is 64
The square of this 10 is 100
The square of this 12 is 144
The square of this 14 is 196
The square of this 16 is 256
The square of this 18 is 324
The square of this 20 is 400

In [ ]:
list(range(0,21,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

####<u> 2nd way of doing this

In [ ]:
for number in range(2,21,2) :
  if number%2 ==0 :
    square_number =number**2
    print(square_number)

4
16
36
64
100
144
196
256
324
400

###<u> Find the sum of first 10 natural no ?

In [ ]:
i =list(range(0,10,1))

In [ ]:
print(i)
len(i)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

10

In [ ]:
for natural_no in i :
  sum_no = sum(i)  
print(sum_no)

45

### <u> Example 5<u>
#### Next suppose we wanted to find the sum of the squares of our numbers in the list

In [ ]:
list_of_numbers = [1,2,4,6,11,14,17,20]
print(list_of_numbers)

[1, 2, 4, 6, 11, 14, 17, 20]

****<u> there is 2 way  either print function in for loop so that it will keep on adding until it exahaust the list or put print function() outside the loop so that it will give total result .

In [ ]:
# let us initialize the sum of square with 0 . This makes sense right
sum_square = 0

for number in list_of_numbers :
  sum_square = sum_square + number**2 
  print(sum_square)

#  Now we have added the square of all number in our list 
#print(f'The sum of square of our list no is {sum_square}')

1
5
21
57
178
374
663
1063

## **OR**

In [ ]:
# let us initialize the sum of square with 0 . This makes sense right
sum_square = 0

for number in list_of_numbers :
  sum_square = sum_square + number**2 
 

#  Now we have added the square of all number in our list 
print(f'The sum of square of our list no is {sum_square}')

The sum of square of our list no is 1063

### Up till now, we have only implemented for loops for list objects. From the last week, we know that there are other objects in Python which are sequence of elements such as strings, tuples etc. Let us try and apply for loop to iterate over their elements.

### <u> Example 6</u>
##### We are given a sentence : "I am the one who knocks!"

In [ ]:
# Let us first quote the sentence in string variable 
heisenberg_quote ='I am the on who door knocks !'

####<u> The next step is to print all the characters which are seperated by whitespace .

```
# This is formatted as code
```

In [ ]:
# Let's apply for loop to do the above task 
for index ,char in enumerate(heisenberg_quote)   :
  print(f'The index is {index} and Character is {char}')

The index is 0 and Character is I
The index is 1 and Character is
The index is 2 and Character is a
The index is 3 and Character is m
The index is 4 and Character is
The index is 5 and Character is t
The index is 6 and Character is h
The index is 7 and Character is e
The index is 8 and Character is
The index is 9 and Character is o
The index is 10 and Character is n
The index is 11 and Character is
The index is 12 and Character is w
The index is 13 and Character is h
The index is 14 and Character is o
The index is 15 and Character is
The index is 16 and Character is d
The index is 17 and Character is o
The index is 18 and Character is o
The index is 19 and Character is r
The index is 20 and Character is
The index is 21 and Character is k
The index is 22 and Character is n
The index is 23 and Character is o
The index is 24 and Character is c
The index is 25 and Character is k
The index is 26 and Character is s
The index is 27 and Character is
The index is 28 and Character is !

### We saw how we can iterate through each element of our string. What if you wanted to iterate through each word of the sentence and not each element. There is an important method available with strings known as <code>split()</code> method. 

#### This method returns the list of words separated by the character we want to separate them by.

### <u> Example 7</u>

In [ ]:
heisenberg_quote = "It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in. I am not in danger, Skyler. I am the danger."

In [ ]:
words_by_walter =heisenberg_quote.split( )
print(words_by_walter)

['It', 'ceases', 'to', 'exist', 'without', 'me.', 'No,', 'you', 'clearly', "don't", 'know', 'who', "you're", 'talking', 'to,', 'so', 'let', 'me', 'clue', 'you', 'in.', 'I', 'am', 'not', 'in', 'danger,', 'Skyler.', 'I', 'am', 'the', 'danger.']

In [ ]:
for word  in words_by_walter :
  if word  not in ['I','you']:
    print(f'The word is {word}')

The word is It
The word is ceases
The word is to
The word is exist
The word is without
The word is me.
The word is No,
The word is clearly
The word is don't
The word is know
The word is who
The word is you're
The word is talking
The word is to,
The word is so
The word is let
The word is me
The word is clue
The word is in.
The word is am
The word is not
The word is in
The word is danger,
The word is Skyler.
The word is am
The word is the
The word is danger.

### We can also iterate through each element of tuple as well. 

### <u> Example 8 </u>

In [ ]:
# Suppose we have tuple of days 
days = ('Monday' ,'Tuesday' ,'Wednesday' ,'Thursday' ,'Friday','Saturday','Sunday')

In [ ]:
for day in days :
  print(f'Today is {day}')

Today is Monday
Today is Tuesday
Today is Wednesday
Today is Thursday
Today is Friday
Today is Saturday
Today is Sunday

Tuples have a special quality when it comes to for loops. If you are iterating through a sequence that contains tuples, the item can actually be the tuple itself, this is an example of tuple unpacking. During the for loop we will be unpacking the tuple inside of a sequence and we can access the individual items inside that tuple! .

#### Remember from earlier we had a list of tuples of country-city

### <u> Example 9</u>

In [ ]:
country_city_river_list = [('India','New Delhi','Ganga'),('Australia','Canberra','Rovers'),('United States','Washington DC','Missouri'),('England','London','Thames')]

In [ ]:
#equate no of iterator = no of elements present in each tuple here is is 3 elements in tuple . 
for  country ,city ,river in country_city_river_list :
  #print(country,city,river)
  print(f'The capital of {country} is {city} and The main river is {river}')

The capital of India is New Delhi and The main river is Ganga
The capital of Australia is Canberra and The main river is Rovers
The capital of United States is Washington DC and The main river is Missouri
The capital of England is London and The main river is Thames

### Finally we can iterate through the items of a dictionary as well. 

### <u> Example 10 </u>

In [ ]:
# Let's convert list of tuples to a dictionary 
country_city_list = [('India','New Delhi'),('Australia','Canberra'),('United States','Washington DC'),('England','London')]
print(country_city_list)

[('India', 'New Delhi'), ('Australia', 'Canberra'), ('United States', 'Washington DC'), ('England', 'London')]

In [ ]:
# convert the same in dictionary 
country_city_dict =dict(country_city_list)
print(country_city_dict)

{'India': 'New Delhi', 'Australia': 'Canberra', 'United States': 'Washington DC', 'England': 'London'}

####<u> There is 2 way to find items in (keys , value ) from dict 
 ### 1. Is through for loop 
 ### 2. Is through item  method

In [ ]:
# for items in country_city_dict
for items in country_city_dict :
  print(items)

India
Australia
United States
England

In [ ]:
# OR
print(country_city_dict.items())

dict_items([('India', 'New Delhi'), ('Australia', 'Canberra'), ('United States', 'Washington DC'), ('England', 'London')])

In [ ]:
# We can use list function in order to remove dict_items () .
print(list(country_city_dict.items()))

[('India', 'New Delhi'), ('Australia', 'Canberra'), ('United States', 'Washington DC'), ('England', 'London')]

In [ ]:
# You can find out the keys 
print(country_city_dict.keys())
# use list function to remove dict_items
print(list(country_city_dict.keys()))

dict_keys(['India', 'Australia', 'United States', 'England'])
['India', 'Australia', 'United States', 'England']

In [ ]:
#  You can use find out the values 
print(country_city_dict.values())
# We can remove dict_values by using list function .
print(list(country_city_dict.values()))

dict_values(['New Delhi', 'Canberra', 'Washington DC', 'London'])
['New Delhi', 'Canberra', 'Washington DC', 'London']

#### And of course you can iterate through the list of keys and list of values independently depending upon the scenario

###<u> We can iterate  through the set  too let's see  how

In [ ]:
for elem in {1,2,3,4,5} :
  print(elem)

1
2
3
4
5

In [ ]:
### No because sets has no index 
for index, char in enumerate(elem):
  print(f'{index} ,{char}')

TypeError: ignored

# <u>While Loops </u>

### The <code>while</code> statement in Python is one of the most general ways to perform iteration. A <code>while</code> statement will repeatedly execute a single statement or group of statements as long as the condition is true. The reason it is called a 'loop' is because the code statements are looped through over and over again until the condition is no longer met.

### The general format of a while loop is:

    while test:
        code statements
    else:
        final code statements



        In while loops we have to do  3 steps 
        1. Initialization 
        2. Check Condition 
        3. Check increment / decrement 

    

### Lets look at a few simple <code>while</code> loops in action.

In [ ]:
x = 0
while x < 10 :
  print(f'x is currently {x}')
  print(' x is less than 10 adding 1 to x')
  x =x+1
# OR
# x=x+1

x is currently 0
 x is less than 10 adding 1 to x
x is currently 1
 x is less than 10 adding 1 to x
x is currently 2
 x is less than 10 adding 1 to x
x is currently 3
 x is less than 10 adding 1 to x
x is currently 4
 x is less than 10 adding 1 to x
x is currently 5
 x is less than 10 adding 1 to x
x is currently 6
 x is less than 10 adding 1 to x
x is currently 7
 x is less than 10 adding 1 to x
x is currently 8
 x is less than 10 adding 1 to x
x is currently 9
 x is less than 10 adding 1 to x

### Notice how many times the print statements occurred and how the <code>while</code> loop kept going until the False condition was met, which occurred once x==10. It's important to note that once this occurred the code stopped. Let's see how we could add an <code>else</code> statement:

In [ ]:
x = 0
while  x<5 :
  print(f'x is currently {x}' )
  print('x is less than 5 adding one element to x ')
  x =x+1
   

else :
    print ('\n')
    print('All Done')

x is currently 0
x is less than 5 adding one element to x
x is currently 1
x is less than 5 adding one element to x
x is currently 2
x is less than 5 adding one element to x
x is currently 3
x is less than 5 adding one element to x
x is currently 4
x is less than 5 adding one element to x


All Done

## break, continue, pass

### We can use <code>break</code>, <code>continue</code>, and <code>pass</code> statements in our loops to add additional functionality for various cases. The three statements are defined by:

    break: Breaks out of the current closest enclosing loop.
    continue: Goes to the top of the closest enclosing loop.
    pass: Does nothing at all.
    
    
### Thinking about <code>break</code> and <code>continue</code> statements, the general format of the <code>while</code> loop looks like this:

    while test: 
        code statement
        if test: 
            break
        if test: 
            continue 
    else:

### <code>break</code> and <code>continue</code> statements can appear anywhere inside the loops body, but we will usually put them further nested in conjunction with an <code>if</code> statement to perform an action based on some condition.

In [ ]:
x  = 0
while  x < 10 :
  print(f'x is currently {x} ')
  print(f'x is less than 10 adding 1 element to x ')
  x=x+1
  if x==3 :
    print('x==3')
    break
  else: 
    print('continuing')
    continue

x is currently 0
x is less than 10 adding 1 element to x
continuing
x is currently 1
x is less than 10 adding 1 element to x
continuing
x is currently 2
x is less than 10 adding 1 element to x
x==3

While Loop

Q1. Write a program to print the following using while loop

a. First 10 Even numbers

b. First 10 Odd numbers

c. First 10 Natural numbers

d. First 10 Whole numbers

Show Answer

In [ ]:
# a first 10 even numbers 
x=2
while x<=20 :
  print(x)
  x=x+2

2
4
6
8
10
12
14
16
18
20

In [ ]:
#b first 10 odd numbers 
x=1
while x<=20 :
  print(x)
  x=x+2

1
3
5
7
9
11
13
15
17
19

In [ ]:
#c first 10 natural numbers 
x=1
while x<=20:
  print(x)
  x=x+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
#d first 10 whole numbers 
x=0
while x<=20 :
  print(x)
  x=x+1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20




#### After these brief but simple examples, you should feel comfortable using <code>while</code> statements in your code.

#### **A word of caution however! It is possible to create an infinitely running loop with <code>while</code> statements.**
After these brief but simple examples, you should feel comfortable using while statements in your code.
A word of caution however! It is possible to create an infinitely running loop with while statements.

In [ ]:
x= ['ab' ,'cd']
for i in x :
  i.upper()
  print(x)

['ab', 'cd']
['ab', 'cd']

In [ ]:
x =0 
while x<100 :
  x=x+2
print(x)

100

8. Write a program to print table of a number entered from the user

In [ ]:
print('number\t','multiple\t','multiplication\t\t\t')
table_no =int(input("Enter any number "))
for i in  range(1,11,1) :
  print(f'{table_no}\t\t {i}\t\t{table_no*i}')

number	 multiple	 multiplication
Enter any number 45
45		 1		45
45		 2		90
45		 3		135
45		 4		180
45		 5		225
45		 6		270
45		 7		315
45		 8		360
45		 9		405
45		 10		450

11. Write a program to find the sum of the digits of a number accepted from the user.

In [ ]:
# whenever we use input function we need to use iterable (in the form of integer)

In [ ]:
sum_of_no =(input("Enter any no  "))

Enter any no  23

In [ ]:
f = 0
for i in sum_of_no :
  f=f+int(i)
print(f'The sum of no is : {f}')

The sum of no is : 5

Q11. Write a program to find the sum of the digits of a number accepted from the user.

In [ ]:
# 1st alternative 
num1 =(input("Enter any No" ''))

Enter any No33

In [ ]:
f=0
for i in num1 :
  type(i)
  f=f+int(i)
  print(f)

3
6

In [ ]:
# 2nd alternative 
num2 =int(input("Enter any no" ''))

In [ ]:
a=0
b=0

len2 =(str(num2))
type(len2)

In [ ]:
for i in len2 :
  a=num2%10
  print(a)
  b=num2//10
  c=b+a
  print(f'The sum of no is {c}')

Q13. Write a program to reverse the number accepted from user.

In [ ]:
# 1st alternative
num4 =input("Enter any no "' ')

In [ ]:
type(num4)

In [ ]:
print(num4[::-1])

In [ ]:
# 2nd alternative
num0 =int(input("Enter any no" ''))

In [ ]:
a=0
b=0
c=0

len3 = str(num0)

In [ ]:
for i in len3 :
  a=num0%10
  b=num0//10
  c=f'({a}{b})'
  print(c)

In [ ]:
a=num0 %10
print(a)

Q16. Write a program to print the factorial of a number accepted from user.

In [ ]:
num5=int(input("Enter any no " ''))

In [ ]:
f=1

for i in range(1,num5+1) :
  f=f*int(i)
print(f)

In [ ]:
#Assessment related question

In [ ]:
string = "my name is x"
for i in string:
    print (i, end=", ")

In [ ]:
for i in range(0):
    print(i)

In [ ]:
x = 'abcd'
for i in x:
    print(i)
    x.upper()

In [ ]:
x = ['ab', 'cd']
for i in x:
    i.upper()
print(x)

In [ ]:
d = {0: 'a', 1: 'b', 2: 'c'}
for x, y in d.items():
    print(x, y)

In [ ]:
for i in range(2.0):
    print(i)